/*Components used :
==============================================
Fonts : 
font-family: 'Anton', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;

Colours:

red : #FE394D;
yellow : #FFD700;
==============================================*/
body{
	background-color: #FFD700;
}

.mainheading{
	font-family: 'Anton', sans-serif;
	color:  #FE394D;
	text-transform: uppercase;
	text-align: center;
	font-size: 6rem;
	line-height: 90px;
	margin-top: 270px;
}

.subheading{
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
	font-size: 1.2rem;
	margin-top: -20px;
}

.btn-danger{
	border-color: none;
	border-radius: 0;
	border: none;
	background-color: #FE394D;

}

@